{% extends 'base.html' %}
{% load static%}

{% block head %}
<link rel="stylesheet" href="{% static 'authentication/profile.css' %}">

{% endblock head %}

{% block content %}
    <h2>Vos informations personnels {{user.last_name}}</h2>
        
    <div class="profile-container">
  <h2>Mon Profil</h2>
  
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
      <label>Nom</label>
      <input type="text" name="last_name" value="{{ user.last_name }}" required />
    </div>

    <div class="form-group">
      <label>Prénom</label>
      <input type="text" name="first_name" value="{{ user.first_name }}" required />
    </div>

    <div class="form-group">
      <label>Photo de profil</label>
      <input type="file" name="profile_picture" />
      {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" class="profile-pic-preview" />
      {% endif %}
    <button> <a href="{% url 'update_photo_profil' %}">Changer la photo de profil</a></button>
    </div>

    <div class="form-group">
      <label>Point de départ habituel</label>
      <input type="text" name="starting_point" value="{{ user.starting_point }}" required />
    </div>

    <div class="form-group">
      <label>Horaires habituels</label>
      <input type="time" name="departure_time" value="{{ user.departure_time }}" required />
      <input type="time" name="arrival_time" value="{{ user.arrival_time }}" required />
    </div>

    {% if user.role == "conducteur" %}
      <div class="form-group">
        <label>Véhicule</label>
        <input type="text" name="car_make" placeholder="Marque" value="{{ user.car_make }}" />
        <input type="text" name="car_model" placeholder="Modèle" value="{{ user.car_model }}" />
        <input type="number" name="car_seats" placeholder="Places disponibles" min="1" value="{{ user.car_seats }}" />
      </div>
    {% endif %}
<button><a href="{% url 'upload_password' %}">Changer votre mot de passe</a></button>
    <button type="submit">Enregistrer les modifications</button>
  </form>
</div>
    <script src= "{% static 'authentication/script.js' %}"></script>
{% endblock %}