{% extends 'base.html' %}
{% load static%}


{% block head %}

<link rel="stylesheet" href="{% static 'authentication/style.css'%}">

{% endblock %}
{% block content %}
    <h1 class="app-title">
        <img src="{% static 'authentication/logo.png' %}" alt="">
    </h1>
    <h2 class="page-title">Inscription</h2>

    <form action="" method="post" class="signup-form">
        {% csrf_token %}
        
        {% if message %}
            <li class="message-error">{{ message }}</li>
        {% endif %}

        <label for="id_first_name" class="form-label" >Prénom</label>
        {{ form.first_name }}
        {% if form.first_name.errors %}
            <small class="error-message">{{ form.first_name.errors.0 }}</small>
        {% endif %}

        <label for="id_last_name" class="form-label">Nom</label>
        {{ form.last_name }}
        {% if form.last_name.errors %}
            <small class="error-message">{{ form.last_name.errors.0 }}</small>
        {% endif %}

        <label for="id_email" class="form-label">E-mail</label>
        {{ form.email }}
        {% if form.email.errors %}
            <small class="error-message">{{ form.email.errors }}</small>
        {% endif %}

        <label for="id_numéro_telephone" class="form-label">Numéro de téléphone</label>
        {{ form.numero_telephone }}
        {% if form.numero_telephone.errors %}
            <small class="error-message">{{ form.numero_telephone.errors }}</small>
        {% endif %}

        <label for="id_role" class="form-label">Rôle</label>
        {{ form.role }}
        {% if form.role.errors %}
            <small class="error-message">{{ form.role.errors }}</small>
        {% endif %}

        <label for="id_password" class="form-label">Mot de passe</label>
        {{ form.password }}
        {% if form.password.errors %}
            <small class="error-message">{{ form.password.errors }}</small>
        {% endif %}

        <label for="confirm_password" class="form-label">Confirmer le mot de passe</label>
        {{ form.confirm_password }}
        {% if form.confirm_password.errors %}
            <small class="error-message">{{ form.confirm_password.errors }}</small>
        {% endif %}

        <button type="submit" class="submit-btn">S'inscrire</button>
    </form>

    <a href="login" class="login-link">Déjà un compte? Se connecter</a>
{% endblock %}