
body{
    font-family: 'Averia Libre', cursive;
    background-color: #c7d0ec;
  }
.dashboard {
    padding: 20px;
    max-width: 1000px;
  
}

.dashboard h1 {
    font-size: 2rem;
    margin-bottom: 10px;

}



.dashboard .btn {
    margin-right: 10px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-header {
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px 15px;
}

.card-body {
    padding: 15px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert {
    margin-top: 10px;
}
#got1{
        border: 2px solid #007bff;       
        padding: 10px;                    
        margin: 20px auto;                
        width: 80%;                       
        border-radius: 12px;              
        background-color: #f8f9fa;        
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
        align-items: center;
        color: black;
}
#got2{
        border: 2px solid #007bff;       
        padding: 10px;                    
        margin: 20px auto;                
        width: 80%;                       
        border-radius: 12px;              
        background-color: #f8f9fa;        
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
        align-items: center;
        color: black;
}
i.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

