body{
    font-family: 'Averia Libre', cursive;
    background-color: #c7d0ec;
}
form.card p {
    margin-bottom: 20px;
  }
  
  form.card label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  form.card input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  form.card input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  form.card {
    max-width: 450px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fdfdfd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
    