   {% extends 'base.html' %}
{% load static %}

   {% block head %}
<link rel="stylesheet" href="{% static 'algorithme/client_conducteur_form.css' %}">
<!-- Pour Leaflet ajout via cdn -->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="{%static 'algorithme/js/formulaire_role.js'%}"></script>

{% endblock %}
{% block content %}
<h1>Remplissez ceci </h1>
    <label><input type="radio" name="role" value="conducteur" checked onchange="toggleForm()"> Conducteur</label>
    <label><input type="radio" name="role" value="client" onchange="toggleForm()"> Client</label>
<!-- Formulaire pour le conducteur -->
   <form method="post" id="conducteur-form" style="display: block;">
         {% csrf_token %}
         <input type="hidden" name="role" value="conducteur">
            <div>
               <label for="{{conducteur_form.adresse.id_for_label}}">{{conducteur_form.email.label }}</label>
                  <div>
                        {{conducteur_form.adresse}}
                        <button onclick="searchLocation()">Choisir sur la carte </button>
                  </div>
               {% if conducteur_form.adresse.errors %}
                  {% for error in conducteur_form.adresse.errors %}
                        <span class="error">{{error}}</span>
                  {% endfor %}
               {% endif %}
               <p> Veuillez cliquer sur rechercher pour identifier votre adresse</p>
            </div>

            <div>
               <label for="{{conducteur_form.nb_places.id_for_label}}">{{conducteur_form.nb_places.label }}</label>
               <div>
                  {{conducteur_form.nb_places}}
                     {% if conducteur_form.nb_places.errors %}
                           {% for error in conducteur_form.nb_places.errors %}
                                 <span class="error">{{error}}</span>
                           {% endfor %}
                     {% endif %}
               </div>
                  
            </div>
      <p>Veuillez valider votre position avant de soumettre le formulaire.</p>
      <input type="submit" value="Enregistrer">
      <button type="button" id="get-location">Valider ma position</button> <!-- Bouton pour obtenir la position -->

   </form>


   <!-- Formulaire pour le client -->
   <form method="post" id="client-form" style="display: block;">
         {% csrf_token %}
         <input type="hidden" name="role" value="client">
            <div>
               <label for="{{client_form.adresse.id_for_label}}">{{client_form.email.label }}</label>
                  <div>
                        {{client_form.adresse}}
                        <button onclick="searchLocation()">Choisir sur la carte </button>
                  </div>
               {% if client_form.adresse.errors %}
                  {% for error in client_form.adresse.errors %}
                        <span class="error">{{error}}</span>
                  {% endfor %}
               {% endif %}
               <p> Veuillez cliquer sur rechercher pour identifier votre adresse</p>
            </div>
                  
      <p>Veuillez valider votre position avant de soumettre le formulaire.</p>
      <input type="submit" value="Enregistrer">
      <button type="button" id="get-location">Valider ma position</button> <!-- Bouton pour obtenir la position -->
      <!-- Champs cachés pour stocker la latitude et la longitude -->

   <input type="hidden" id="latitude" name="latitude">
   <input type="hidden" id="longitude" name="longitude">
    
    

   <div id="map" style="height: 500px;"></div> <!-- Div pour l'affichage de la carte -->

</form>
    {% endblock %}