{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="{% static 'algorithme/css/recherche.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Averia+Libre&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}

<h1>Trouver votre covoiturage </h1>
    <div class="card shadow-sm rounded" id="map" style="height: 500px;"></div>

        <div class="card">
        <form method="post" id="recherche-form">
            {% csrf_token %}
            <p>
                <label  for="{{ form.adresse_depart.id_for_label }}">{{ form.adresse_depart.label }}</label>
                <div class="row">
                    <div class="address-group">
                        {{ form.adresse_depart }}
                        <button class="card" type="button" onclick="searchLocation()" style="background-color: #28a745;">
                            Rechercher sur la carte
                        </button>
                    </div>
                    {% if form.adresse_depart.errors %}<ul class="errorlist">{% for error in form.adresse_depart.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                        {{ form.latitude_depart }}
                        {{ form.longitude_depart }}
                </p>
                
                <p>
                    <label for="{{ form.heure_depart.id_for_label }}">{{ form.heure_depart.label }}</label>
                    {{ form.heure_depart }}
                    {% if form.heure_depart.errors %}<ul class="errorlist">{% for error in form.heure_depart.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </p>

                <p>
                    <label for="{{ form.adresse_arrivee.id_for_label }}">{{ form.adresse_arrivee.label }}</label>
                    {{ form.adresse_arrivee }}
                    <button class="card" type="button" onclick="searchLocation()" style="background-color: #28a745;"></button>
                    {% if form.adresse_arrivee.errors %}<ul class="errorlist">{% for error in form.adresse_arrivee.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </p>

                <p>
                    <label for="{{ form.heure_arrivee.id_for_label }}">{{ form.heure_arrivee.label }}</label>
                    {{ form.heure_arrivee }}
                    {% if form.heure_arrivee.errors %}<ul class="errorlist">{% for error in form.heure_arrivee.errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                </p>
             
                {{ form.latitude_arrivee }}
                {{ form.longitude_arrivee }}

                {% if form.non_field_errors %}
                    <ul class="errorlist">
                        {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
                <button class="card" type="submit">Rechercher un covoiturage</button>
            </form>


            <div class="container mt-4">
            <h2>Résultats de la Recherche</h2>
            <div id="passenger-info" class="mb-3">
                </div>
            <div id="liste-conducteurs"> </div>
            <div id="drivers-list" class="row">
                <p id="no-drivers-message" style="display: none;">Aucun conducteur trouvé pour votre recherche.</p>
            </div>
        </div>
    </div>
</div>





    <script src="{%static 'algorithme/js/rechercher_conducteurs.js'%}" defer></script>

 {% endblock %}