# Le fichier .env.example sert de modèle pour que les contributeurs sachent quelles variables d’environnement sont nécessaires au bon fonctionnement du projet
DB_NAME=name_db
DB_USER=name_user
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=3306
