{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>Vos Messages</h1>
        <p>Commencez par discutez avec d'autres {{user.last_name}}</p>
    
        <div>
            <ul class="all_users">
               {% for each_user in all_users %}
                {% if each_user != user %}
                        <a href="{% url 'chat_room' each_user.id %}"  class="each_user">
                            {{ each_user.first_name}} {{ each_user.last_name}}
                        </a>
                        <br>
                    {% endif %}
               {% endfor %}
            </ul>
        </div>


    </div>
{% endblock %}